.purchaseForm {
  background-color: var(--light-grey);
  border: 1px solid var(--green);
  border-radius: 15px;
  max-width: 460px;
  margin: auto;
  padding: 25px;
}

.formRow {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.formTitle {
  color: var(--dark-green);
  font-size: 22px;
  margin: 10px 0 30px 0;
  text-align: center;
}

.formRow input[type="text"] {
  border: 2px solid var(--green);
  border-radius: 5px;
  font-size: 18px;
  padding: 3px;
}

.formRow label {
  color: var(--dark-green);
  font-size: 16px;
}

.btnSubmit {
  background-color: var(--dark-green);
  border-radius: 14px;
  color: var(--white);
  font-size: 17px;
  margin: 10px 0;
  padding: 15px;
}
